{% extends 'main/layout/base.html' %}

{% block content %}


<div class="row justify-content-center">

    <div class="card text-white bg-secondary mb-3 mytext mt-5">
            <div class="card-header bg-dark size-m">
                <a href="{% url 'my_profile' %}"><i style="color: green" class="fas fa-arrow-circle-left"></i></a>
                Upload Story PDF</div>
            <div class="card-body size-s">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <label for="id_upload">Upload:</label> <input type="file" name="upload" id="id_upload"> 
              <button class= " btn btn-success btn-lg"type="submit">Upload</button>
            </form>
          </div>
        </div>

</div>
{% endblock %}
