<div class="card box text-white bg-dark mt-3 storyblock">
 <img src="{{ story.featured.upload_img.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="img-overlay">
        <a href="{{ story.featured.upload_vid.url }}" role="button" class="btn btn-dark ">Watch Trailer</a>
        </div>
        <h1 class="story-title text-center mytext">{{story.name }}</h1>

        <p class="text-center">
            <a class = "text-white mytext" href="{% url 'view_writer_profile' story.writer.pk %}"><b>Writer : </b>{{story.writer}}</a>
         </p>
        <p class="text-center">
            <a class = "text-white mytext" href="{% url 'view_producer_profile' story.producer.pk %}"><b>Producer : </b>{{ story.producer }}</a> 
        </p>

       
    </div>

</div>