.storyblock{
    position: relative;
}
.summary{
    position: absolute;
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    top: 100%;
    opacity: 0;
}

.finalPos{
    top: 0%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.closed{
    opacity: 1;
    position:relative;
    left: 1em;
    margin-top: 5px;
    margin-left: 5px;
}