.storyblock{
    position: relative;

}
.summary{
    position: absolute;
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    top: 100%;
    opacity: 0;
}

.finalPos{
    top: 0%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.closed{
    opacity: 1;
    position:relative;
    left: 1em;
    margin-top: 5px;
    margin-left: 5px;
}
.mytext{
    font-family:  'Roboto Condensed', sans-serif;
}
.size-b{
    font-size: 400%;
}

.size-m{
    font-size: 250%;
}

.size-s{
    font-size: 125%;
}

.box{
    transition: box-shadow .3s;
    border-radius:10px;
    border: 2px solid #343a40;
    background: #fff;
}
.box:hover {
    box-shadow: 0 0 11px #343a40; 
}
.dp {
    box-shadow: 0 0 11px #343a40; 
    border: 1px solid #343a40;

}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.card-height {
    width :100%;
    height: 14vw;
}
.overlay {
    position: absolute;
    top: 90%;
    left: 88%;
    height: auto;
    width: auto;
    display: none;
  }
.on {
    position: relative;
    display: inline-block;
}
.on:hover .overlay {
    display: block;
}
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.25rem;
}
.viewpic {
    position: relative;
}
.hello {
    position: absolute;
    left: -35%;
    top:50%;
}
.my-card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 3.25rem;
    orphans: 1;
    widows: 1;
