{% extends 'auth/base.html' %}
    {% block content %}

    <div class="d-none d-md-block ">
      <div class="row justify-content-center mt-sm-5 mt-md-5" style="margin-top: 10%">
        <h3>Welcome to</h3>
      </div>
      <div class="row justify-content-center mt-sm-5 mt-md-5" style="margin-top:3%; margin-left:5% ">
          <h1>Story Jam</h1>
      </div>
  </div>

    <div class="row justify-content-center mt-5 mb-2">
          
               
          <form method="POST" class="col-lg-5 col-sm-3 col-md-4" >
              {% csrf_token %}
            <div class="form-group">
                
              <label for="username"> <i class="fas fa-user-circle" style="margin-right:10px"></i>Username</label>
              <input name ="username" type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password"><i class="fas fa-key" style="margin-right:10px"></i>Password</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-row justify-contents-center">
                <button style=" margin: 0 auto" type="submit" class="btn btn-dark" >Log in</button>

            </div>
          </form>
    </div>

<div class="row mt-5" style="margin-left: 35%;margin-right: 5%">
    <div class="card-group">
      <div class="card text-white bg-secondary col-lg-4 ">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold">Writer</h5>
          <p class="card-text">Share your stories and get them featured.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'writer_signup' %}" class="btn btn-dark">Sign Up</a>
        </div>
      </div>
      <div class="card text-white bg-dark col-lg-4">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold" >Producer</h5>
          <p class="card-text">Choose from a variety of fresh stories to animate/film.</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'producer_signup' %}" class="btn btn-secondary">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  

    {% endblock %}
</body>